/*
COLORES
principal: #fa0050
*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-collapse a{
    font-size: 1rem;
}
.navbar-brand{
    color: #fa0050!important;
    font-weight: bold;
    font-size: 1.3rem;
}
.nav-link{
    color: #000!important;
}
.nav-link:hover{
    color: #fa0050!important;
}
.active {
    color: #fa0050!important;
    font-weight: bold;
}

.img-logo{
    height: 3rem;
    width: auto;
    padding-right: .7rem;
    margin-right: .7rem;
}
header .cta{
    border-radius: 20px;
    padding: 0.5rem 0.8rem;
    background-color: #fa0050;
    color: #fff!important;
    margin-left: 2rem;
    font-size: 14px;    
}
header .cta:hover{
    opacity: .7;
    color: #fff!important;
}

/* SECCION BIENVENIDA */
.seccion-bienvenida{
    min-height: 100vh;
    background: url(../img/fondo2.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seccion-bienvenida .contenedor {
    text-align: center;
    background-color: #000000c7;
    padding: 2rem;
    max-width: 800px;
    border-radius: 10rem;
}
.seccion-bienvenida .contenedor h1{
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
}
.seccion-bienvenida .contenedor p{
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.seccion-bienvenida .contenedor a{
    text-decoration: none;
    color: #fff;
    background-color: #fa0050;
    padding: .5rem .8rem;
    display: block;
    max-width: 180px;
    margin: auto;
    transition: all .5s ease;
    border-radius: 20px;
}
.seccion-bienvenida .contenedor a:hover{
    transform:scale(1.1);
}

/* SECCION SERVICIOS */
.seccion-servicios h2{
    color: #fa0050;
    font-size: 2rem;
}

.seccion-servicios .btn{
    background-color: #fa0050;
    color:#fff;
}

.seccion-servicios .imagen-servicios{
    width: auto;
    height: 13rem;
    object-fit: cover;
}

.boton-servicio{
    border-radius: 20px;
    opacity: .9;
    background-color: #fa0050;
    color: white;
}


/* SECCION INFO SERVICIOS */
.info-servicios{
    background-color: #f3f3f3;
}
.info-servicios .info-servicio{
    color: black;
}
.info-servicios .icono {
    justify-content: center;
    height: 50px;
    width: 50px;
    display: flex;
    margin: auto;
    border-radius: 5px;
    align-items: center;
}

.info-servicios .icono i{
    font-size: 28px;
    color: #fa004fc4;
}
.card .card-text {
    min-height: 50px;
}

/* PIE DE PAGINA */
footer{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: #fff;
}
footer h4{
    font-size: 18px;
}
footer p, li{
    font-size: 13px;
}
footer .row div{
    text-align: center;
}
footer .copyright{
    display: grid;
    align-items: center;
}

.icono-footer{
    color: rgb(4, 136, 92);
}

/* PAGINA REGISTRAR SERVICIO */
.registrar-servicio{
    padding-top: 6rem!important;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/fondo_registro_servicio.jpg) no-repeat center center;
    background-size: cover;
}

.registrar-servicio .formulario .row{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.692);
    color:#fff;
    padding: 2rem;
}

.registrar-servicio .formulario p{
    text-align: justify;
}

/* PAGINA SERVICIOS */
.pagina-servicios{
    padding-top: 6rem!important;
    background-color: #f2f2f2;
}
.pagina-servicios .columna-servicios{
    background-color: #fff;
    padding: 1rem;
}
.pagina-servicios .columna-servicios .servicio-1, .pagina-servicios .columna-servicios .servicio-2{
    border-right: 1px solid;
}

